*
{
    margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

html, body
{
    height: 100%;
	width: 930px;
	text-align: center;
	margin: auto;
}

.menu 
{
    display: inline;
	margin-left:0; 
	margin-top: 50px;
}

hr 
{
    border: none; /* Убираем границу */
    background-color: #ababab; /* Цвет линии */
    color: #ababab; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}

.lin1
{
    margin-bottom: 15px;
	margin-top: 100px;
}

.lin2
{
    margin-top: 15px;
}

ul
{
    display: inline;
}

li  
{
	display: inline;
}

a
{
    font-family: Arial;
	font-size: 18px;
	color: #6b6b6b;
	text-decoration: none;
	margin-right: 70px;
	margin-bottom: 15px;
}