*
{
    margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

html, body
{
    height: 100%;
	width: 500px;
	text-align: center;
	margin: auto;
}

.c1 
{
    width: 500px;
	height: 500px;
    background: #0099CC;
	position: absolute;
    top: 30px;	
}

.c11 
{
    width: 70px;
	height: 70px;
    background: #FF0000;
	float: left;
	position: relative;
}

.c12 
{
    width: 70px;
	height: 70px;
    background: #FF0000;
	float: right;
	position: relative;
}

.c13
{
    width: 100px;
	height: 100px;
    background: #00CC00;
    top: 40%;
	left: 40%;
	position: relative;
}

.c14
{
    width: 70px;
	height: 70px;
    background: #FF0000;
	float: left;
	top: 66%;
	position: relative;
}

.c15
{
    width: 70px;
	height: 70px;
    background: #FF0000;
	float: right;
	top: 66%;
	position: relative;
}